#root {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* two values for margin for top and bottom */
}

.app {
  justify-content: center;
  align-items: center;
}

th,
td {
  text-align: center;
  height: 2rem;
  width: 2rem;
  background-color: gainsboro;
}


.cell {
  color: grey;
}